﻿<html ng-app="akvarietdk" ng-controller="MetaCtrl">
<head>
    <meta charset="utf-8" />

    <!--<title>&#x2635; Akvariet.dk &#x2635;</title>-->
    <!--  &#x2635; is sign for water -->
    <title ng-bind="Page.title()"></title>

    <meta name="description" content="{{Page.metaDescription()}}">
    <meta name="keywords" content="elektronik, akvarier, artikler, beskrivelser af planter, beskrivelser af fisk, beskrivelser af akvariedyr, alger, sygdomme, biotop">
    <meta name="author" content="{{Page.author()}}">

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    </script>
    <!-- End Google Analytics -->

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="Scripts/angular.min.js" type="text/javascript"></script>
    <script src="Scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="Scripts/angular-animate.min.js" type="text/javascript"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.js" type="text/javascript"></script>

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-meta/0.3.9/ngMeta.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="Resources/css/w3v4.css">
    <link rel="stylesheet" href="Resources/css/akvarietdk.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="app/functions.akvarietdk.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>



</head>
<body class="w3-light-grey">
    <div class="w3-content" style="max-width:1400px">
        <br />
        <!-- Header -->
        <header class="image w3-container w3-center w3-padding-32">
            <h1 class="bigH1"><b>Akvariet.dk</b></h1>
            <p><span class="w3-tag">Blog, Elektronik, Planter, Fisk og andre dyr</span></p>
            
        </header>
        <br />
        <div class="w3-bar w3-light-grey" ng-controller="navCtrl">
            <a ng-class="{active: fullRoute == '/'}" ng-href="/#/" class="w3-bar-item w3-button" title="Startsiden"><i class="fa fa-home"></i></a>
            <a ng-class="{active: fullRoute == '/alger'}" ng-href="#/alger" class="w3-bar-item w3-button"> Alger</a>
            <a ng-class="{active: fullRoute == '/sygdomme'}" ng-href="#/sygdomme" class="w3-bar-item w3-button">Sygdomme</a>
            <a ng-class="{active: fullRoute == '/biotoper'}" ng-href="#/biotoper" class="w3-bar-item w3-button">Biotoper</a>
            <a ng-class="{active: fullRoute == '/plantlist'}" ng-href="#/plantlist" class="w3-bar-item w3-button">Planter</a>
            <a ng-class="{active: fullRoute == '/animallist'}" ng-href="#/animallist" class="w3-bar-item w3-button">Dyr</a>
            <a ng-class="{active: fullRoute == '/bloglist'}" ng-href="#/bloglist" class="w3-bar-item w3-button">Artikler</a>
            <a ng-class="{active: fullRoute == '/search'}" ng-href="#/search" class="w3-bar-item w3-button" title="Søg"><i class="fa fa-search"></i></a>
            <a ng-class="{active: fullRoute == '/advancedsearch'}" ng-href="#/advancedsearch" class="w3-bar-item w3-button">Advanceret søg</a>
            <a ng-class="{active: fullRoute == '/kontakt'}" ng-href="#/kontakt" class="w3-bar-item w3-button" title="Kontakt"><i class="fa fa-envelope"></i></a>
            <a ng-class="{active: fullRoute == '/om'}" ng-href="#/om" class="w3-bar-item w3-button">Om Akvariet.dk</a>
            <p class="w3-bar-item" ng-style="loadStyle" >Status: {{loadstatus}}</p>
        </div>

        <!-- Grid -->
        <div class="w3-row">
            <!-- Start Content -->
            <div class="w3-col l8 s12" ng-view autoscroll="true" id="content">
            </div>
            <!-- End Content -->
            <!-- Start Modal -->
            <div id="id01" class="w3-modal">
                <div class="w3-modal-content w3-card-4">
                    <header class="w3-container akvarietColor">
                        <span onclick="document.getElementById('id01').style.display='none'"
                              class="w3-button w3-display-topright">&times;</span>
                        <h1 class="bigH1 w3-center">Akvariet.dk</h1>
                    </header>
                    <div class="w3-container" id="popupContent">
                        <p>Some text..</p>
                        <p>Some text..</p>
                    </div>
                    <footer class="w3-container akvarietColor">
                        <p class="w3-center">&copy; 2017 Akvariet.dk/Thomas D. Kryger</p>
                        <p class="w3-center"><img src="Resources/Images/Fish_32x32.png" /></p>
                    </footer>
                </div>
            </div>
            <!-- End Modal -->
            <!-- Introduction menu -->
            <div class="w3-col l4">
                <!-- About Card -->
                <div class="w3-card-2 w3-margin w3-margin-top w3-round-medium">
                    <img src="/Resources/Images/thetank_620x300.png" style="width:100%">
                    <div class="w3-container w3-white">
                        <h4><b>Om Akvariet.dk</b></h4>
                        <p>Her vil du finde lidt om elektronik til akvarier, artikler og beskrivelser af planter, fisk og andre akvariedyr. Det meste vil være skrevet af mig selv, men når det ikke er tilfældet vil det fremgå.</p>
                    </div>
                </div><hr>

                <!-- Posts -->
                <div class="w3-card-2 w3-margin w3-round-medium">
                    <div class="w3-container w3-padding">
                        <h4>Mest læste</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white" ng-controller="webEntryMostReadCtrl">
                        <li class="w3-padding-16" ng-repeat="webEntry in mostReadWebEntries.data">
                            <a style="text-decoration:none" class="" ng-href="#/{{ webEntry.Url }}">
                                <img ng-src="{{webEntry.ThumbUrl}}" alt="{{ webEntry.Title }}" class="w3-left w3-margin-right" style="width:40px">
                                <span class="w3-large">{{ webEntry.ShortTitle }} <!--({{ webEntry.ViewCount }})--></span><br>
                                <span>{{ webEntry.ShortTeaser }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr>

                <!-- Labels / tags -->
                <div class="w3-card-2 w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Tags</h4>
                    </div>
                    <div class="w3-container w3-white" ng-controller="tagCtrl">
                        <p id="tagContainer">
                            <span ng-repeat="tagItem in tags.data">
                                <a ng-href="#/tag/{{ tagItem.Id }}">
                                    <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">{{ tagItem.TagName }}</span>
                                </a>
                                &nbsp;&nbsp;
                            </span>
                        </p>
                    </div>
                </div>


            </div>
            <!-- END Introduction Menu -->

        </div><br>
        <!-- END GRID -->

    </div>
    <!-- END w3-content -->
    <script src="app/app.akvarietdk.js" type="text/javascript"></script>
    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <p class="w3-center">&copy; 2017 Akvariet.dk / Thomas D. Kryger</p>
        <p class="w3-center"><img src="Resources/Images/Fish_32x32.png" /></p>
        <p class="w3-center">Version 0.6 Beta</p>
        <p class="w3-center">Load time: {{elapsedMs}} ms</p>
    </footer>
    
    
    <input type="hidden" value="{{loadstatus}}" id="loadstatus" />
    <input type="hidden" value="{{elapsedMs}}" id="elapsedMs" />
</body>
</html>