﻿body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif
}

.akvarietColor {
    color: #fff !important;
    background-color: #2196F3 !important
}
/*
    w3-teal
    {
    color: #fff !important;
    background-color: #009688 !important
}*/

header.image {
    border-radius: 25px;
    background-position: left top;
    padding: 20px;
    height: 250px;
    background-image: url("../Images/headerbackground_2.jpg");
}

.bigH1 {
    font-size: 400%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.divBlock {
    font-weight: bold;
}


.divMyRow {
    display: inline-block;
}

.divDataBlock {
    max-width: 300px;
}

.spanDataBlock {
    border-style: solid;
    border-width: 1px;
}

.inputWidth {
    width: 100%;
}

.myInput {
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.block {
    border-style: solid;
    border-width: 1px;
}

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#most:link, #most:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#most:hover, #most:active {
    background-color: red;
}

.active {
    color: #fff !important;
    background-color: #2196F3 !important
}
.test {
    color: red;
}

#content {
    resize: none;
}