﻿<div class="w3-card-4 w3-margin w3-white w3-round-medium">
	<div class="w3-container">
		<h3><b>Om Akvariet.dk</b></h3>
		<img src="/Resources/Images/thetank_620x300.png" style="width:100%">
	</div>
	<br />
	<br />
	<div class="w3-container">
		<div>Mit navn er Thomas, og jeg har ejet Akvariet.dk siden 1997. Aktivitetsniveauet har gennem årene været meget vekslende, men i forbindelse med de 20 år, er det tid til en genopfrisker.</div>
		<br />
		<div>
			Hvis ikke andet er nævnt, er billeder og tekst skrevet af mig. Billeder med anden copyright har de respektive ejere påskrevet.<br />
			Hvis du har kommentarer, tekster og/eller billeder som jeg må bruge på Akvariet.dk, så brug venligst formularen på kontakt siden.
		</div>
		<br />
		<div>
			Akvariet.dk er programmeret af mig. På backend er brugt C# op mod en MySQL database vha nHibernate og web API. Selve siderne er lavet vha HTML, CSS og Angularjs. CSS er W3's og grundlayoutet er en af W3's skabeloner.<br />
			Kildekoden til dele af Akvariet.dk kan findes på <a href="https://gitlab.com/tdkryger/AkvarietdkV3" target="_blank">Gitlab</a>.
		</div>
		<br />
		<div>
			<b>'Cookie'-politik:</b>
			<p>
				På Akvariet.dk bruger vi Google Analytics til at lave statistic. <br />
				Google bruger cookies til at analysere annoncer og besøg for dette websted. Oplysninger om din brug af vores websted deles med Google med det formål.
			</p>
		</div>
		<br />
	</div>
</div>