﻿<!-- Advanced Search - Start -->
<form name="advancedSearchForm" method="get" ng-submit="advancedSearch()" ng-keyup="change()">
    <!--onsubmit="return validateAdvancedSearchForm()">-->

    <div class="w3-card-4 w3-margin w3-white  w3-round-large">
        <div class="w3-container">
            <h3><b>Advanceret søgning</b></h3>
        </div>
        <br />
        <div id="specificContainer">
            <div id="checksBlock" class="w3-container">
                <span class="w3-row ">
                    <span class="w3-col" style="width:33%">
                        <input id="searchBlogs" class="w3-check" type="checkbox" name="searchBlogs" ng-model="zone.searchBlogs" onclick="ShowHideElement(this, 'blogSpecific')" />
                        <label>Søg i artikler</label>
                    </span>
                    <span class="w3-col" style="width:33%">
                        <input id="searchPlants" class="w3-check" type="checkbox" name="searchPlants" ng-model="zone.searchPlants" onclick="ShowHideElement(this, 'plantSpecific')" />
                        <label>Søg i planter</label>
                    </span>
                    <span class="w3-col" style="width:33%">
                        <input id="searchAnimals" class="w3-check" type="checkbox" name="searchAnimals" ng-model="zone.searchAnimals" onclick="ShowHideElement(this, 'animalSpecific')" />
                        <label>Søg blandt dyr</label>
                    </span>
                </span>
            </div>
            <br />
            <div class="w3-container">
                <!-- Blogs -->
                <div id="blogSpecific" style="display: none">
                    <div class="w3-container w3-sand w3-round-large">
                        <h4><b>Artikler</b></h4>
                        <label>Titel:</label>
                        <input id="blogTitle" class="w3-input inputWidth w3-sand" type="text" alt="Titel" name="blogTitle" ng-model="pagingInfo.searchfields.blogTitle" />

                        <label>Tekst:</label>
                        <input id="blogText" class="w3-input inputWidth w3-sand" type="text" alt="Tekst" name="blogText" ng-model="pagingInfo.searchfields.blogText" /> <!-- ng-model="searchfíelds.blogText"  multi="validateAdvancedSearch"  />-->

                        <span class="w3-container w3-sand w3-round-large" style="width:auto" id="elemTagCheckList">
                            <span ng-repeat="item in tags" style="width:33%;float: left;">
                                <input class="w3-check" type="checkbox" name="{{item.TagName}}" />
                                <label>{{item.TagName}}</label>
                            </span>
                        </span>
                        <br />
                        <!--<button id="clear" onclick="clearFormElements('blogSpecific')" class="w3-btn akvarietColor w3-block w3-section w3-ripple w3-padding">Nulstil</button>-->
                    </div>
                    <br />
                </div>

                <!-- Plants -->
                <div id="plantSpecific" style="display: none">
                    <div class="w3-container w3-sand w3-round-large">
                        <h4><b>Planter</b></h4>
                        <br />
                        <label>Videnskabelig navn:</label>
                        <input id="plantSciName" type="text" alt="Videnskabelig navn" class="w3-input inputWidth w3-sand" name="plantSciName" />
                        <br />
                        <label>Populær navne:</label>
                        <input id="plantPopName" type="text" alt="Populær navne" class="w3-input inputWidth w3-sand" name="plantPopName" />
                        <br />
                        <label>Beskrivelse:</label>
                        <input id="plantDescription" type="text" alt="Beskrivelse" class="w3-input inputWidth w3-sand" name="plantDescription" />
                        <br />
                        <br />
                        <select name="plantGroup" class="inputWidth w3-sand w3-select" id="elemPlantGroup"> <!--ng-controller="PlantGroupCtrl">-->
                            <option value="" disabled selected>Vælg gruppe</option>
                            <option ng-repeat="group in plantGroups" value="{{group.Id}}">{{group.Text}}</option>
                        </select>
                        <br />
                        <!-- Maybe remove span below? -->
                        <span ng-show="plantCharacteristic.length > 0" ng-controller="PlantCharacteristicCtrl">
                            <label>Karak...:</label>
                            <span class="w3-container w3-sand w3-round-large" style="width:auto" id="elemPlantCharac">
                                <span ng-repeat="char in plantCharacteristic">
                                    <label>{{ char.Text }}</label>
                                    <input class="w3-check" type="checkbox" name="{{ char.Text }}" />
                                </span>
                            </span>
                        </span>
                        <br />

                        <!-- Origin block -->
                        <div ng-controller="OriginCtrl">
                            <div class="w3-container w3-sand w3-round-large" style="width:auto" id="originCheckBox">
                                <button onclick="document.getElementById('chooseOrigin').style.display='block'" class="w3-button akvarietColor">Vælg oprindelse</button>
                                <div ng-show="origins.length > 0">
                                    <b>Valgte:&nbsp;</b>
                                    <div ng-repeat="filter in filterText">{{ filter }}</div>
                                </div>

                                <div id="chooseOrigin" class="w3-modal">
                                    <div class="w3-modal-content" style="min-width:80%;">
                                        <header class="w3-container akvarietColor">
                                            <span onclick="document.getElementById('chooseOrigin').style.display='none'" class="w3-button w3-display-topright w3-white">OK</span>
                                            <h2>Vælg oprindelse</h2>
                                        </header>
                                        <div class="w3-container" style="font-size: smaller;">
                                            <span id="originCheckboxSpan" ng-repeat="zone in originHeadlines" style="width:20%;float: right;">
                                                <input class="w3-check w3-small" type="checkbox" name="{{zone.Text}}" ng-change='onCompleteOrigin(zone)' ng-model="zone.Selected" />
                                                <label>{{zone.Text}}</label>
                                            </span>
                                        </div>
                                        <footer class="w3-container akvarietColor">
                                            &nbsp;
                                        </footer>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <select name="suborigin" class="inputWidth w3-sand w3-select" ng-show="origins.length > 0">
                                <option value="" disabled selected>Vælg underområde</option>
                                <option ng-repeat="origin in origins track by $index" value="{{origin.Id}}" ng-bind="{{origin.Combined}}"></option>
                            </select>
                            <br />
                        </div>
                        <br />
                        <span class="w3-row ">
                            <span class="w3-col" style="width:25%">
                                <label>Mindste temperatur</label>
                                <input id="plantMinTemperature" name="plantMinTemperature" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>
                            <span class="w3-col" style="width:25%">
                                <label>Højeste temperatur</label>
                                <input id="plantMaxTemperature" name="plantMaxTemperature" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>

                            <span class="w3-col" style="width:25%">
                                <label>Nedre pH</label>
                                <input id="plantMinPh" name="plantMinPh" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>
                            <span class="w3-col" style="width:25%">
                                <label>Øvre pH</label>
                                <input id="plantMaxPh" name="plantMaxPh" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>
                        </span>
                        <br />
                        <span class="w3-row ">
                            <span class="w3-col" style="width:25%">
                                <label>Nedre hårdhed</label>
                                <input id="plantMinHardness" name="plantMinHardness" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>
                            <span class="w3-col" style="width:25%">
                                <label>Øvre hårdhed</label>
                                <input id="plantMaxHardness" name="plantMaxHardness" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>
                            <span class="w3-col" style="width:50%">&nbsp;</span>
                        </span>
                        <br />
                        <div id="plantGroupSpan" class="w3-container" style="width:auto">
                            <span style="width:33%;float: left;">
                                <input class="w3-check" type="checkbox" name="plantTPFloating" />
                                <label>Flydeplante</label>
                            </span>
                            <span style="width:33%;float: left;">
                                <input class="w3-check" type="checkbox" name="plantTPFront" />
                                <label>Forgrund</label>
                            </span>
                            <span style="width:33%;float: left;">
                                <input class="w3-check" type="checkbox" name="plantTPMiddle" />
                                <label>Midten</label>
                            </span>
                            <span style="width:33%;float: left;">
                                <input class="w3-check" type="checkbox" name="plantTPBack" />
                                <label>Baggrund</label>
                            </span>
                            <span style="width:33%;float: left;">
                                <input class="w3-check" type="checkbox" name="plantTPSolitary" />
                                <label>Solitær</label>
                            </span>
                            <span style="width:33%;float: left;">
                                &nbsp;
                            </span>
                        </div>
                        <br />
                        <span class="w3-row ">
                            <span class="w3-col" style="width:25%">
                                <label>Minimum bredde</label>
                                <input id="plantMinWidth" name="plantMinWidth" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>
                            <span class="w3-col" style="width:25%">
                                <label>Maximum bredde</label>
                                <input id="plantMaxWidth" name="plantMaxWidth" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>
                            <span class="w3-col" style="width:25%">
                                <label>Minimum højde</label>
                                <input id="plantMinHeight" name="plantMinHeight" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>
                            <span class="w3-col" style="width:25%">
                                <label>Maximum højde</label>
                                <input id="plantMaxHeight" name="plantMaxHeight" type="text" style="width:90%" class="w3-input w3-sand" onkeypress="return isNumberKey(event,this)" />
                            </span>
                        </span>
                        <br />
                    </div>
                    <br />
                </div>

                <!-- Animals -->
                <div id="animalSpecific" style="display: none">
                    <div class="w3-container w3-sand w3-round-large">
                        <h4><b>Dyr</b></h4>
                        <br />
                        <label>Videnskabeligt navn:</label>
                        <input id="animalSciName" name="animalSciName" type="text" alt="Videnskabeligt navn" class="w3-input inputWidth w3-sand" />

                        <label>Populær navne:</label>
                        <input id="animalPopName" name="animalPopName" type="text" alt="Populær navne" class="w3-input inputWidth w3-sand" />

                        <label>Beskrivelse:</label>
                        <input id="animalDescription" name="animalDescription" type="text" alt="Beskrivelse" class="w3-input inputWidth w3-sand" />
                        <br />
                    </div>
                    <br />
                </div>
                <!-- Footer -->
                <div>
                    <p id="missingBlogInputValues" style="display:none; color: red;" ng-hide="formState.blogIsValid==true">Ingen søgekriterier udfyldt ved søgning i artikler.</p>
                    <p id="missingPlantInputValues" style="display:none; color: red;">Ingen søgekriterier udfyldt ved søgning i planter.</p>
                    <p id="missingAnimalInputValues" style="display:none; color: red;">Ingen søgekriterier udfyldt ved søgning blandt dyr.</p>
                    <button id="lowerSubmitButton" class="w3-btn akvarietColor w3-block w3-section w3-ripple w3-padding" style="display: none" ng-disabled="formState.formIsValid==false">Søg</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="/app/validate.akvarietdk.js"></script>
<!-- Advanced Search - End -->
