﻿<div class="w3-card-4 w3-margin w3-white w3-round-medium" ng-repeat="algea in algeaList">
    <div class="w3-container">
        <h3><b>{{ algea.Name }}</b></h3>
    </div>

    <div class="w3-container">
        <b>Symptomer:</b>
        <p ng-bind-html="algea.Symptoms | unsafe"></p>
        <b>Årsag</b>
        <p ng-bind-html="algea.Cause | unsafe"></p>
        <b>Behandling</b>
        <p ng-bind-html="algea.Treatment | unsafe"></p>
    </div>
</div>
<hr>