﻿

<div class="w3-card-4 w3-margin w3-white w3-round-medium">
    <div id="results" ng-hide="pagingInfo.totalItems == 0">
        <div class="w3-panel">
            <span class="w3-left-align">Resultater: {{pagingInfo.totalItems}} ialt. Viser {{pagingInfo.itemsPerPage}}  </span>
            <span class="w3-right-align">
            </span>
        </div>
        <div class="w3-center">
            <ul uib-pagination
                max-size="maxSize"
                boundary-links="true"
                total-items="pagingInfo.totalItems"
                ng-model="pagingInfo.page"
                ng-change="selectPage(pagingInfo.page)"
                items-per-page="pagingInfo.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></ul>
        </div>
        <div class="w3-responsive w3-panel">
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="w3-blue">
                        <th>&nbsp;</th>
                        <th>Title</a></th>
                        <th>Type</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="animal in animals">
                        <td><img ng-src="{{animal.ThumbUrl}}" alt="{{ animal.Title }}" class="w3-left w3-margin-right" style="width:50px"></td>
                        <td>
                            {{ animal.Title }}<br />
                            {{ animal.ShortTeaser }}
                        </td>
                        <td class="w3-ver">
                            <span ng-switch on="webEntry.EntryType">
                                <span ng-switch-when="0">Blog</span>
                                <span ng-switch-when="1">Dyr</span>
                                <span ng-switch-when="2">Plante</span>
                                <span ng-switch-default>&nbsp;</span>
                            </span>

                        </td>
                        <td><a class="w3-button w3-padding-large w3-white w3-border" ng-href="#/{{animal.Url}}"><b>Vis »</b></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w3-center">
            <ul uib-pagination
                max-size="maxSize"
                boundary-links="true"
                total-items="pagingInfo.totalItems"
                ng-model="pagingInfo.page"
                ng-change="selectPage(pagingInfo.page)"
                items-per-page="pagingInfo.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></ul>

        </div>
    </div>
</div>