﻿<script type="text/javascript">

    var myIndex = 0;

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 9000);
    }
</script>

<!-- Full Animal template - Start -->
<div class="w3-card-4 w3-margin w3-white">
    <!--id="animalContent">-->
    <!--ng-controller="animalCtrl">-->

    <div class="w3-container">
        <div class="w3-right-align" id="functionDiv">
            <!--<button onclick="showPopUp(animalContent)" class="w3-button akvarietColor"><i class="material-icons">local_printshop</i></button>&nbsp;-->
            <a ng-href="{{animal.PDFUrl}}" class="w3-button akvarietColor"><i class="material-icons">picture_as_pdf</i></a>
        </div>
    </div>
    <div class="w3-container" id="animalContent">
        <div>
            <h3 style="width:100%"><span class="w3-opacity" id="elemDate">{{ animal.ModifiedDate | date:'dd/MM yyyy' }}</span>&nbsp;<i><b id="elemTitle">{{ animal.ScientificName }}</b></i></h3>
            <span class="w3-opacity">Skrevet af:&nbsp;{{animal.User.DisplayName}}</span>
            <h6 style="width:100%">{{ animal.Synonyms }}</h6>
            <h6 style="width:100%">{{ animal.Tradenames }}</h6>
        </div>


        <div class="w3-content w3-display-container" style="max-width:800px; max-height:400px" id="elemImages">
            <div class="w3-display-container mySlides w3-animate-opacity" ng-style="{ 'display' : ($first) ? 'block' : 'none' }" ng-repeat="image in animal.ImageList">
                <img class="w3-image center" ng-src="{{image.ImageUrl}}" alt="{{image.Title}}" style="max-height:400px">
            </div>
        </div>

        <script type="text/javascript">
            carousel();
        </script>

        <br />
        <div class="w3-container">
            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Orden</span>
                <span class="w3-col" style="width:25%">{{ animal.Order }}</span>
                <span class="w3-col divBlock" style="width:25%">Familie</span>
                <span class="w3-rest" style="width:25%">{{animal.Family}}</span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Gruppe</span>
                <span class="w3-col" style="width:25%">{{animal.CommonGroup}}</span>
                <span class="w3-col divBlock" style="width:25%">Størrelse</span>
                <span class="w3-rest" style="width:25%">{{animal.Size}}</span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Levested</span>
                <span class="w3-rest" style="width:75%">{{animal.Origin}}</span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Niveau</span>
                <span class="w3-col" style="width:25%">{{animal.SwimLevel}}</span>
                <span class="w3-col divBlock" style="width:25%">Bio belastning</span>
                <span class="w3-rest" style="width:25%">{{animal.BioLoad}}</span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Temperatur</span>
                <span class="w3-col" style="width:25%">{{animal.Temperature}}</span>
                <span class="w3-col divBlock" style="width:25%">pH</span>
                <span class="w3-rest" style="width:25%">{{animal.Ph}}</span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Hårdhed</span>
                <span class="w3-col" style="width:25%">{{animal.Hardness}}</span>
                <span class="w3-col divBlock" style="width:25%">Min Liter</span>
                <span class="w3-rest" style="width:25%">{{animal.MinTankSize}}</span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Min. antal</span>
                <span class="w3-col" style="width:25%">{{animal.MinGroupSize}}</span>
                <span class="w3-col divBlock" style="width:25%">Planteakvarie</span>
                <span class="w3-rest" style="width:25%">{{animal.PlantedTank}}</span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Fodder</span>
                <span class="w3-rest" style="width:25%"><span ng-repeat="diet in animal.DietaryRequirements">{{diet}}.&nbsp;</span></span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Sygdomme</span>
                <span class="w3-rest" style="width:75%"><span ng-repeat="item in animal.CommonIllnesses">{{item}}.&nbsp;</span></span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Temperament</span>
                <span class="w3-rest" style="width:75%">{{animal.Temperament}}</span>
            </span>

            <span class="w3-row ">
                <span class="w3-col divBlock" style="width:25%">Social</span>
                <span class="w3-rest" style="width:75%"><span ng-repeat="item in animal.Sociableness">{{item}}.&nbsp;</span></span>
            </span>

            <span class="w3-row">
                <span class="w3-rest" style="width:100%">{{animal.Describtion}}</span>
            </span>
            <span class="w3-row" ng-hide="animal.PreferedHabitat.length == 0">
                <span class="w3-col divBlock" style="width:100%">Habitater:</span>
                <span class="w3-row">
                    <span class="w3-rest" style="width:100%" ng-repeat="item in animal.PreferedHabitat">
                        <span>{{item.Text}}</span>
                        <!--<span ng-hide="item.Description == NULL">
                            :<br />
                            <span ng-bind-html="item.Description | unsafe"></span>
                        </span>-->
                        <!-- TODO: https://www.w3schools.com/w3css/w3css_modal.asp for popup, when/if descriptions on Habitats -->
                        <br />
                    </span>
                </span>
            </span>
        </div>
        <br />
    </div>
</div>