﻿
<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white w3-round-medium">

    <div class="w3-container">
        <h3><span class="w3-opacity">{{ blog.Posted | date:'dd/MM yyyy' }}</span>&nbsp;<b>{{ blog.Title }}</b></h3>
        <span class="w3-opacity">Skrevet af:&nbsp;{{blog.Contributor.DisplayName}}</span>
        <span class="w3-padding-large w3-left">
            <span ng-repeat="tag in blog.Tags">
                <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
                    {{tag.TagName}}
                </span>
            </span>
        </span>
    </div>

    <div class="w3-container">
        <p ng-bind-html="blog.Body | unsafe"></p>
    </div>
</div>
<hr>