﻿
<div class="w3-card-4 w3-margin w3-white w3-round-medium">
    <script type="text/javascript">
        // Er ikke helt perfekt. Mangler validering af email og form data
        $("#contactForm").submit(function () {
            $.post('api/Contact/ComplexPost', $('#contactForm').serialize());
            alert("Tak for henvendelsen. Vi vil forsøge at besvare din besked hurtigst muligt.")
            window.location.replace("/#/");
            return false;
        });
    </script>

    <div class="w3-container">
        <h3><b>Kontakt</b></h3>
    </div>

    <div class="w3-container">
        <span><b>Ejer:</b>&nbsp;Thomas D. Kryger</span>
        <br />
        <br />
        <b>Kontakt:</b>
        <form id="contactForm" method="post" enctype="application/x-www-form-urlencoded">
            <div>
                <label for="fromName">Navn:</label>
                <input class="w3-input" name="fromName" type="text" />
            </div>
            <div>
                <label for="fromEMail">EMail:</label>
                <input class="w3-input" name="fromEMail" type="text" />
            </div>
            <div>
                <label for="subject">Overskrift</label>
                <input class="w3-input" name="subject" type="text" />
            </div>
            <div>
                <label for="content">Tekst</label>
                <input class="w3-input" name="content" type="text" />
            </div>


            <div>
                <input class="w3-button w3-blue w3-block w3-section w3-ripple w3-padding" type="submit" value="Submit" />
            </div>
        </form>

        <br />
        <br />
        <b>'Cookie'-politik:</b>
        <p>
            På Akvariet.dk bruger vi Google Analytics til at lave statistic. Hvis du er logget ind, er der også en cookie til at holde styr på hvem du er.<br />
            Google har en engelsk forklaring af hvad og hvordan Google Analytics arbejder på, <a href="https://developers.google.com/analytics/resources/concepts/gaConceptsTrackingOverview" target="_blank">men beskrivelsen er på engelsk</a>
        </p>
    </div>
</div>
<hr>