﻿<div class="w3-card-4 w3-margin w3-white w3-round-medium">
    <div class="w3-container">
        <h3><b>Kontakt</b></h3>
    </div>

    <div class="w3-container">
        <br />
        <div>
            Bemærk: Din ip adresse bliver logget.
        </div>
        <br />
        <b>Kontakt:</b>
        <form id="contactForm" method="post" action="api/Contact/Contact" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div>
                <label for="fromName">Navn:</label>
                <input class="w3-input" name="fromName" type="text" required />
            </div>
            <div>
                <label for="fromEMail">EMail:</label>
                <input class="w3-input" name="fromEMail" type="text" required />
            </div>
            <div>
                <label for="subject">Overskrift</label>
                <input class="w3-input" name="subject" type="text"  required />
            </div>
            <div>
                <label for="content">Tekst</label>
                <textarea class="w3-input" name="content" rows="6" required style="max-width:100%;resize: vertical;"></textarea>
            </div>

            <div>
                <label>
                    Evt. fil
                </label>
                <input name="myFile" type="file" multiple />
            </div>

            <div>
                <input id="submitBtn" class="w3-button w3-blue w3-block w3-section w3-ripple w3-padding" type="submit" value="Submit" />
            </div>
            <input type="hidden" name="ip" />
            <input type="hidden" name="country_code" />
            <input type="hidden" name="country_name" />
            <input type="hidden" name="region_code" />
            <input type="hidden" name="region_name" />
            <input type="hidden" name="city" />
            <input type="hidden" name="zip_code" />
            <input type="hidden" name="time_zone" />
            <input type="hidden" name="latitude" />
            <input type="hidden" name="longitude" />
            <input type="hidden" name="metro_code" />
        </form>
        
        <br />
        <br />
    </div>
</div>
<hr>
<script type="text/javascript">
    $.getJSON('//freegeoip.net/json/?callback=?', function (data) {
        console.log(data);
        document.forms["contactForm"]["ip"].value = data.ip;
        document.forms["contactForm"]["country_code"].value = data.country_code;
        document.forms["contactForm"]["country_name"].value = data.country_name;
        document.forms["contactForm"]["region_code"].value = data.region_code;
        document.forms["contactForm"]["region_name"].value = data.region_name;
        document.forms["contactForm"]["city"].value = data.city;
        document.forms["contactForm"]["zip_code"].value = data.zip_code;
        document.forms["contactForm"]["time_zone"].value = data.time_zone;
        document.forms["contactForm"]["latitude"].value = data.latitude;
        document.forms["contactForm"]["longitude"].value = data.longitude;
        document.forms["contactForm"]["metro_code"].value = data.metro_code;
    });

    function validateForm() {
        document.getElementById('submitBtn').disabled = true;
        var fromName = document.forms["contactForm"]["fromName"].value;
        var fromEMail = document.forms["contactForm"]["fromEMail"].value;
        var subject = document.forms["contactForm"]["subject"].value;
        var content = document.forms["contactForm"]["content"].value;

        if (fromName == "") {
            alert("Navn skal udfyldes");
            document.getElementById('submitBtn').disabled = false;
            return false;
        }
        if (fromEMail == "") {
            alert("EMail skal udfyldes");
            document.getElementById('submitBtn').disabled = false;
            return false;
        }
        var atpos = fromEMail.indexOf("@");
        var dotpos = fromEMail.lastIndexOf(".");
        if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= fromEMail.length) {
            alert("EMail adressen er ikke gyldig");
            return false;
        }
        if (subject == "") {
            alert("Emne skal udfyldes");
            document.getElementById('submitBtn').disabled = false;
            return false;
        }
        if (content == "") {
            alert("Tekst skal udfyldes");
            document.getElementById('submitBtn').disabled = false;
            return false;
        }
       
        alert("Tak for henvendelsen. Vi vil forsøge at besvare din besked hurtigst muligt.");
    }
</script>
