﻿<div id="results" ng-hide="pagingInfo.totalItems == 0">
    <div class="w3-panel">
        <span class="w3-left-align">Resultater: {{pagingInfo.totalItems}} ialt. Viser {{pagingInfo.itemsPerPage}}  </span>
    </div>
    <div class="w3-center" ng-hide="pagingInfo.totalItems < pagingInfo.itemsPerPage">
        <ul uib-pagination
            max-size="maxSize"
            boundary-links="true"
            total-items="pagingInfo.totalItems"
            ng-model="pagingInfo.page"
            ng-change="selectPage(pagingInfo.page)"
            items-per-page="pagingInfo.itemsPerPage"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"></ul>
    </div>
    <div class="w3-responsive w3-panel">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="akvarietColor">
                    <th>&nbsp;</th>
                    <th>Title</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="webEntry in webEntries">
                    <td><img ng-src="{{webEntry.ThumbUrl}}" alt="{{ webEntry.Title }}" class="w3-left w3-margin-right" style="width:50px"></td>
                    <td>
                        {{ webEntry.TimeStamp | date:'dd/MM yyyy' }}<br />
                        {{ webEntry.Title }}<br />
                        {{ webEntry.ShortTeaser }}
                    </td>
                    <td><a class="w3-button w3-padding-large w3-white w3-border" ng-href="#/{{webEntry.Url}}"><b>Vis »</b></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w3-center" ng-hide="pagingInfo.totalItems < pagingInfo.itemsPerPage">
        <ul uib-pagination
            max-size="maxSize"
            boundary-links="true"
            total-items="pagingInfo.totalItems"
            ng-model="pagingInfo.page"
            ng-change="selectPage(pagingInfo.page)"
            items-per-page="pagingInfo.itemsPerPage"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"></ul>

    </div>
</div>