﻿<div class="w3-card-4 w3-margin w3-white w3-round-medium">
    <div class="w3-container">
        <h3>Kilde:</h3>
        Alle beskrivelser af biotoper er fra bogen <b>Biotop-akvarier</b> af Benny B. Larsen &amp; F. Ingemann Hansen. (<a href="https://bibliotek.dk/da/work/870970-basis:05446309" target="_blank">ISBN 87-11-03941-8</a>)
    </div>
</div>
<div class="w3-card-4 w3-margin w3-white w3-round-medium" ng-repeat="item in habitatList">
    <div class="w3-container">
        <div class="w3-right-align">
            <a ng-href="{{item.PDFUrl}}" class="w3-button akvarietColor"><i class="material-icons">picture_as_pdf</i></a>
        </div>
        <span class="divBlock">{{item.Text}}</span>
        <span ng-hide="item.Description == NULL">
            :<br />
            <span ng-bind-html="item.Description | unsafe"></span>
        </span>
        <br />
    </div>
</div>
<hr>