﻿
<div class="w3-card-4 w3-margin w3-white w3-round-medium" ng-repeat="illness in illnesList">
    <div class="w3-container">
        <h3><b>{{ illness.Name }}</b> (<span class="w3-opacity">{{ illness.Group }}</span>)</h3>
    </div>

    <div class="w3-container">
        <b>Symptomer:</b>
        <p ng-bind-html="illness.Symptoms | unsafe"></p>
        <b>Årsag</b>
        <p ng-bind-html="illness.Cause | unsafe"></p>
        <b>Behandling</b>
        <p ng-bind-html="illness.Treatment | unsafe"></p>
    </div>
</div>
<hr>