﻿<div>
    <form ng-submit="LoginModalCtrl.submit(_email, _password)">
        <input type="email" ng-model="_email" />
        <input type="password" ng-model="_password" />
        <button>Log ind</button>
    </form>
    <button ng-click="LoginModalCtrl.cancel()">Fortryd</button>
</div>