﻿<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white w3-round-medium" ng-repeat="webEntry in webEntries.data">
    <div class="w3-container">
        <h3><b>{{ webEntry.Title }}</b></h3>
        <h5><span class="w3-opacity">{{ webEntry.TimeStamp | date:'dd/MM yyyy' }}.&nbsp;Skrevet af:&nbsp;{{webEntry.User.DisplayName}}</span></h5>
        <span ng-repeat="tagItem in webEntry.Tags">
            <a ng-href="#/tag/{{ tagItem.Id }}">
                <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">{{tagItem.Text}}</span>
            </a>
        </span>
    </div>
    <img class="center w3-image" ng-src="{{webEntry.FrontImage}}" alt="{{ webEntry.Title }}" />

    <div class="w3-container">
        <p ng-bind-html="webEntry.Teaser | unsafe"></p>
        <div class="w3-row">
            <div class="w3-col m8 s12">
                <p>
                    <a class="w3-button w3-padding-large w3-white w3-border" ng-href="#/{{webEntry.Url}}"><b>Læs mere »</b></a>
                </p>
            </div>
            <!--<div class="w3-col m4 w3-hide-small">
                <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
            </div>-->
        </div>
    </div>
</div>
<hr>