﻿<script type="text/javascript">

    var myIndex = 0;

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 9000);
    }
</script>

<!-- Full Animal template - Start -->
<div class="w3-card-4 w3-margin w3-white">
    <!--ng-controller="animalCtrl">-->

    <div class="w3-container">
        <div class="w3-right-align">
            <a ng-href="{{plant.PDFUrl}}" class="w3-button akvarietColor"><i class="material-icons">picture_as_pdf</i></a>
        </div>
        <h3 style="width:100%"><span class="w3-opacity" id="elemDate">{{ plant.ModifiedDate | date:'dd/MM yyyy' }}</span>&nbsp;<i><b id="elemTitle">{{ plant.ScientificName }}</b></i></h3>
        <span class="w3-opacity">Skrevet af:&nbsp;{{plant.User.DisplayName}}</span>
        <h6 style="width:100%">{{ plant.Synonyms }}</h6>
        <h6 style="width:100%">{{ plant.Tradenames }}</h6>
        <!--<h6 id="elemViewCount"></h6>-->
    </div>

    <div class="w3-content w3-display-container w3-center" style="max-width:800px; max-height:400px" id="elemImages">
        <div class="w3-display-container w3-centered mySlides w3-animate-opacity" ng-style="{ 'display' : ($first) ? 'block' : 'none' }" ng-repeat="image in plant.ImageList">
            <img class="w3-image center" ng-src="{{ image.ImageUrl }}" alt="{{image.Title}}">
        </div>
    </div>



    <script type="text/javascript">

        carousel();
    </script>

    <br />



    <div class="w3-container">
        <span class="w3-row ">
            <span class="w3-col divBlock" style="width:25%">Gruppe</span>
            <span class="w3-rest" style="width:75%">{{plant.PlantGroup}}</span>
        </span>

        <span class="w3-row ">
            <span class="w3-col divBlock" style="width:25%">Størrelse</span>
            <span class="w3-rest" style="width:75%">Højde: {{plant.Height}}. Bredde: {{plant.Width}}</span>
        </span>

        <span class="w3-row ">
            <span class="w3-col divBlock" style="width:25%">Levested</span>
            <span class="w3-rest" style="width:75%">{{plant.Origin}}</span>
        </span>

        <span class="w3-row ">
            <span class="w3-col divBlock" style="width:25%">Placering</span>
            <span class="w3-rest" style="width:75%">{{plant.TankPosition}}</span>
        </span>

        <span class="w3-row ">
            <span class="w3-col divBlock" style="width:25%">Egenskaber</span>
            <span class="w3-rest" style="width:75%"><span ng-repeat="item in plant.Characteristics">{{item}}.&nbsp;</span></span>
        </span>

        <span class="w3-row ">
            <span class="w3-col divBlock" style="width:25%">Specielt</span>
            <span class="w3-rest" style="width:75%"><span ng-repeat="item in plant.Care">{{item}}.&nbsp;</span></span>
        </span>

        <span class="w3-row ">
            <span class="w3-col divBlock" style="width:25%">Lys</span>
            <span class="w3-col" style="width:25%">{{plant.LightRequirements}}</span>
            <span class="w3-col divBlock" style="width:25%">CO2</span>
            <span class="w3-rest" style="width:25%">{{plant.CO2Requirements}}</span>
        </span>

        <span class="w3-row ">
            <span class="w3-col divBlock" style="width:25%">Temperatur</span>
            <span class="w3-col" style="width:25%">{{plant.Temperature}}</span>
            <span class="w3-col divBlock" style="width:25%">pH</span>
            <span class="w3-rest" style="width:25%">{{plant.Ph}}</span>
        </span>

        <span class="w3-row ">
            <span class="w3-col divBlock" style="width:25%">Hårdhed</span>
            <span class="w3-col" style="width:25%">{{plant.Hardness}}</span>
            <span class="w3-col divBlock" style="width:25%">Vækst</span>
            <span class="w3-rest" style="width:25%">{{plant.GrowthSpeed}}</span>
        </span>

        <span class="w3-row">
            <span class="w3-rest" style="width:100%">{{plant.Describtion}}</span>
        </span>
    </div>
    <br />
</div>