﻿ <!-- Start Simple Search -->
<div class="w3-card-4 w3-margin w3-white w3-round-medium">
    <br />
    <form ng-submit="simpleSearch()" role="form" class="w3-panel">
        <div>
            <input type="text" class="w3-input" ng-model="pagingInfo.searchString" required placeholder="Søg...">
            <div class="w3-container">
                <span class="w3-row ">
                    <span class="w3-col" style="width:33%">
                        <input id="searchBlogs" class="w3-check" type="checkbox" name="searchBlogs" checked="checked" ng-model="pagingInfo.blogs" />
                        <label>Søg i artikler:</label>
                    </span>
                    <span class="w3-col" style="width:33%">
                        <input id="searchPlants" class="w3-check" type="checkbox" name="searchPlants" checked="checked" ng-model="pagingInfo.plants" />
                        <label>Søg i planter:</label>
                    </span>
                    <span class="w3-col" style="width:33%">
                        <input id="searchAnimals" class="w3-check" type="checkbox" name="searchAnimals" checked="checked" ng-model="pagingInfo.animals" />
                        <label>Søg i dyr:</label>
                    </span>
                </span>
            </div>
            <button type="submit" class="w3-button akvarietColor w3-block w3-section w3-ripple w3-padding"><strong>Søg</strong></button>
        </div>
    </form>
    <div id="results" ng-hide="pagingInfo.totalItems == 0">
        <div class="w3-panel">
            <span class="w3-left-align">Resultater: {{pagingInfo.totalItems}} ialt. Viser {{pagingInfo.itemsPerPage}}  </span>
        </div>
        <div class="w3-center">
            <ul uib-pagination
                max-size="maxSize"
                boundary-links="true"
                total-items="pagingInfo.totalItems"
                ng-model="pagingInfo.page"
                ng-change="selectPage(pagingInfo.page)"
                items-per-page="pagingInfo.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></ul>
        </div>
        <div class="w3-responsive w3-panel">
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="akvarietColor">
                        <th>&nbsp;</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="webEntry in webEntries">
                        <td><img ng-src="{{webEntry.ThumbUrl}}" alt="{{ webEntry.Title }}" class="w3-left w3-margin-right" style="width:50px"></td>
                        <td>
                            {{ webEntry.Title }}<br />
                            {{ webEntry.ShortTeaser }}
                        </td>
                        <td class="w3-ver">
                            <span ng-switch on="webEntry.EntryType">
                                <span ng-switch-when="0">Artikel</span>
                                <span ng-switch-when="1">Dyr</span>
                                <span ng-switch-when="2">Plante</span>
                                <span ng-switch-default>&nbsp;</span>
                            </span>

                        </td>
                        <td><a class="w3-button w3-padding-large w3-white w3-border" ng-href="#/{{webEntry.Url}}"><b>Vis »</b></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w3-center">
            <ul uib-pagination
                max-size="maxSize"
                boundary-links="true"
                total-items="pagingInfo.totalItems"
                ng-model="pagingInfo.page"
                ng-change="selectPage(pagingInfo.page)"
                items-per-page="pagingInfo.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></ul>

        </div>
    </div>
</div>

<!-- End Simple Search -->
