﻿<html ng-app="akvarietdk">
<head>
    <meta charset="utf-8" />
    <title>&#x2635; Akvariet.dk &#x2635;</title>
    <!--  &#x2635; is sign for water -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/Scripts/angular.min.js" type="text/javascript"></script>
    <script src="/Scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="/Scripts/angular-animate.min.js" type="text/javascript"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.js" type="text/javascript"></script>

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/Resources/css/w3.css">
    <link rel="stylesheet" href="/Resources/css/akvarietdk.css">

    <script src="/Resources/Scripts/akvarietdk.functions.js" type="text/javascript"></script>
    <script src="/app/app.akvarietdk.js" type="text/javascript"></script>

    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>

    <!-- Google Analytics -->
    <!-- <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-56227173-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    -->
    <!-- End Google Analytics -->
</head>
<body class="w3-light-grey">
    <div class="w3-content" style="max-width:1400px">
        <br />
        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <h1 class="bigH1"><b>Akvariet.dk</b></h1>
            <p><span class="w3-tag">Blog, Elektronik, Planter, Fisk og andre dyr</span></p>
        </header>
        <br />
        <div class="w3-bar w3-light-grey" ng-controller="navCtrl">
            <a ng-class="{active: fullRoute == '/'}" ng-href="/#/" class="w3-bar-item w3-button" title="Startsiden"><i class="fa fa-home"></i></a>
            <a ng-class="{active: fullRoute == '/alger'}" ng-href="#/alger" class="w3-bar-item w3-button"> Alger</a>
            <a ng-class="{active: fullRoute == '/sygdomme'}" ng-href="#/sygdomme" class="w3-bar-item w3-button">Sygdomme</a>
            <!-- Søgefunltioner:
                https://www.sitepoint.com/api-calls-angularjs-http-service/
                https://www.pointblankdevelopment.com.au/blog/78/angularjs-aspnet-web-api-2-server-side-sorting-searching-and-paging
            -->
            <!--<input type="text" class="w3-bar-item w3-input" placeholder="Søg..">-->
            <a ng-class="{active: fullRoute == '/search'}" ng-href="#/search" class="w3-bar-item w3-button" title="Søg"><i class="fa fa-search"></i></a>
            <a ng-class="{active: fullRoute == '/advancedsearch'}" ng-href="#/advancedsearch" class="w3-bar-item w3-button">Advanceret søg</a>
            <a ng-class="{active: fullRoute == '/kontakt'}" ng-href="#/kontakt" class="w3-bar-item w3-button" title="Kontakt"><i class="fa fa-envelope"></i></a>
            <!--<a href="#/blog/3" class="w3-bar-item w3-button">Blog</a>
            <a href="#/plant/182" class="w3-bar-item w3-button">Plante</a>
            <a href="#/animal/14" class="w3-bar-item w3-button">Dyr</a>-->
            </
            v>
        </div>

        <!-- Grid -->
        <div class="w3-row">
            <div class="w3-col l8 s12">
                <!-- Start Simple Search -->

                <div class="w3-card-4 w3-margin w3-white w3-round-medium">
                    <br />
                    <form ng-submit="search()" role="form">
                        <div>
                            <input type="text" class="w3-input" ng-model="pagingInfo.searchString" placeholder="Søg...">
                            <button type="submit" class="w3-button w3-blue"><strong>Søg</strong></button>
                        </div>
                    </form>
                    <div>Resultater:</div>
                    <table class="w3-table">
                        <thead>
                            <tr>
                                <th>Title</a></th>
                                <th>Type</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="webEntry in webEntries">
                                <td>{{ webEntry.Title }}</td>
                                <td>
                                    <span ng-switch on="webEntry.EntryType">
                                        <span ng-switch-when="0">Blog</span>
                                        <span ng-switch-when="1">Fisk</span>
                                        <span ng-switch-when="2">Plante</span>
                                        <span ng-switch-default>&nbsp;</span>
                                    </span>

                                </td>
                                <td><a class="w3-button w3-padding-large w3-white w3-border" ng-href="#/{{webEntry.Url}}"><b>Læs mere »</b></a></td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination page="pagingInfo.page"
                                total-items="pagingInfo.totalItems"
                                items-per-page="pagingInfo.itemsPerPage"
                                on-select-page="selectPage(page)"
                                max-size="10"
                                rotate="false"
                                boundary-links="true"></pagination>

                </div>

                <!-- End Simple Search -->


            </div>
            <!-- Introduction menu -->
            <div class="w3-col l4">
                <!-- About Card -->
                <div class="w3-card-2 w3-margin w3-margin-top w3-round-medium">
                    <img src="/Resources/Images/thetank_620x300.png" style="width:100%">
                    <div class="w3-container w3-white">
                        <h4><b>Om Akvariet.dk</b></h4>
                        <p>Her vil du finde lidt om elektronik til akvarier, artikler og beskrivelser af plantr, fisk og andre akvariedyr. Det meste vil være skrevet af mig selv, men når det ikke er tilfældet vil det fremgå.</p>
                    </div>
                </div><hr>

                <!-- Posts -->
                <div class="w3-card-2 w3-margin w3-round-medium">
                    <div class="w3-container w3-padding">
                        <h4>Mest læste</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white" ng-controller="webEntryMostReadCtrl">
                        <li class="w3-padding-16" ng-repeat="webEntry in mostReadWebEntries.data">
                            <a style="text-decoration:none" class="" ng-href="#/{{ webEntry.Url }}">
                                <img ng-src="{{webEntry.ThumbUrl}}" alt="{{ webEntry.Title }}" class="w3-left w3-margin-right" style="width:40px">
                                <span class="w3-large">{{ webEntry.ShortTitle }} <!--({{ webEntry.ViewCount }})--></span><br>
                                n>
                                <span>{{ webEntry.ShortTeaser }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr>

                <!-- Labels / tags -->
                <div class="w3-card-2 w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Tags</h4>
                    </div>
                    <div class="w3-container w3-white" ng-controller="tagCtrl">
                        <p id="tagContainer">
                            <span ng-repeat="tagItem in tags.data">
                                <a ng-href="#/tag/{{ tagItem.Id }}">
                                    <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">{{ tagItem.TagName }}</span>
                                </a>
                                &nbsp;&nbsp;
                            </span>
                        </p>
                    </div>
                </div>


            </div>
            <!-- END Introduction Menu -->

        </div><br>
        <!-- END GRID -->

    </div>
    <!-- END w3-content -->
    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <!--<button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>-->
        <p class="w3-center">&copy; 2017 Akvariet.dk / Thomas D. Kryger</p>
        <p class="w3-center"><img src="Resources/Images/Fish_32x32.png" /></p>
    </footer>

</body>
</html>