﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>&#x2635; Akvariet.dk &#x2635;</title>
    <!--  &#x2635; is sign for water -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/Scripts/angular.min.js" type="text/javascript"></script>
    <script src="/Scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="/Scripts/angular-animate.min.js" type="text/javascript"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/Resources/css/w3.css">
    <link rel="stylesheet" href="/Resources/css/akvarietdk.css">

    <script src="/Resources/Scripts/akvarietdk.functions.js" type="text/javascript"></script>
</head>
<body class="w3-light-grey">
    <div class="w3-content" style="max-width:1400px">

        <!-- Comment - start -->
        <script type="text/javascript">
            // Show
            function showNewComment() {
                console.log('showNewComment');
                document.getElementById('idNewComment').style.display = 'block';
            }

            function closeNewComment() {
                console.log('postNewComment');
                document.getElementById('idNewComment').style.display = 'none';
                document.getElementById('newCommentTextArea').value = '';
            }

            function postNewComment() {
                console.log('postNewComment');
                // post & reload
                closeNewComment();
            }
        </script>

        <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container">
                <h6 style="width:100%"><span class="w3-opacity" id="elemDate">{{ Date | date:'dd/MM yyyy' }}</span>&nbsp;<b id="elemTitle">{{ bruger/anonym? }}</b></h6>
                {{ Comment }}<br />
                <div>
                    <input class="w3-button w3-blue" type="button" value="Ny kommentar" onclick="showNewComment();" />
                    <div id="idNewComment" class="w3-panel w3-display-container" style="display:none">
                        <span onclick="closeNewComment();" class="w3-button w3-display-topright">Luk</span>
                        Ny kommentar<br />
                        (menu?)<br />
                        <form>
                            <div class="w3-container">
                                <label>Overskrift</label>
                                <input type="text" class="w3-input" /><br />
                                <label>Kommentar</label>
                                <textarea id="newCommentTextArea" class="w3-input" name="Text1" cols="40" rows="5" style="resize: none;"></textarea>
                                <input type="button" value="Gem" onclick="postNewComment();"/>&nbsp;
                            </div>
                        </form>
                    </div>
                </div>
                <div class="w3-container w3-border-gray" ng-repeat="">
                    (new Comment.html)
                </div>
            </div>
        </div>

        <!-- Comment - end -->

    </div>
</body>
</html>