﻿<div class="w3-container">
    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Orden</span>
        <span class="w3-col" style="width:25%" >{ORDER}</span>
        <span class="w3-col divBlock" style="width:25%">Familie</span>
        <span class="w3-rest" style="width:25%">{FAMILY}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Gruppe</span>
        <span class="w3-col" style="width:25%">{COMMONGROUP}</span>
        <span class="w3-col divBlock" style="width:25%">Størrelse</span>
        <span class="w3-rest" style="width:25%">{SIZE}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Levested</span>
        <span class="w3-rest"  style="width:75%">{ORIGIN}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Niveau</span>
        <span class="w3-col"  style="width:25%">{SWIMLEVEL}</span>
        <span class="w3-col divBlock" style="width:25%">Bio belastning</span>
        <span class="w3-rest" style="width:25%">{BIOLOAD}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Temperatur</span>
        <span class="w3-col" style="width:25%">{TEMPERATURE}</span>
        <span class="w3-col divBlock" style="width:25%">pH</span>
        <span class="w3-rest" style="width:25%">{PH}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Hårdhed</span>
        <span class="w3-col" style="width:25%">{HARDNESS}</span>
        <span class="w3-col divBlock" style="width:25%">Min Liter</span>
        <span class="w3-rest" style="width:25%">{MINTANKSIZE}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Min. antal</span>
        <span class="w3-col" style="width:25%">{MINGROUPSIZE}</span>
        <span class="w3-col divBlock" style="width:25%">Planteakvarie</span>
        <span class="w3-rest" style="width:25%">{PLANTEDTANK}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Fodder</span>
        <span class="w3-rest" style="width:25%">{DIET}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Sygdomme</span>
        <span class="w3-rest" style="width:75%">{ILLNESSES}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Temperament</span>
        <span class="w3-rest" style="width:75%">{TEMPERAMENT}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Social</span>
        <span class="w3-rest" style="width:75%">{SOCIALS}</span>
    </span>

    <span class="w3-row">
        <span class="w3-rest" style="width:100%">{DESCRIPTION}</span>
    </span>
</div>
