﻿<div class="w3-container">
    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Gruppe</span>
        <span class="w3-rest" id="elemCommonGroup" style="width:75%">{COMMONGROUP}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Størrelse</span>
        <span class="w3-rest" id="elemSize" style="width:75%">{SIZE}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Levested</span>
        <span class="w3-rest" id="elemOrigin" style="width:75%">{ORIGIN}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Egenskaber</span>
        <span class="w3-rest" id="elemSize" style="width:75%">{CHARACTERISTICS}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Specielt</span>
        <span class="w3-rest" id="elemSize" style="width:75%">{CARE}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Lys</span>
        <span class="w3-col" style="width:25%" id="elemOrder">{LIGHT}</span>
        <span class="w3-col divBlock" style="width:25%">CO2</span>
        <span class="w3-rest" id="elemFamily" style="width:25%">{CO2}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Temperatur</span>
        <span class="w3-col" id="elemTemperature" style="width:25%">{TEMPERATURE}</span>
        <span class="w3-col divBlock" style="width:25%">pH</span>
        <span class="w3-rest" id="elemPH" style="width:25%">{PH}</span>
    </span>

    <span class="w3-row ">
        <span class="w3-col divBlock" style="width:25%">Hårdhed</span>
        <span class="w3-col" id="elemHardness" style="width:25%">{HARDNESS}</span>
        <span class="w3-col divBlock" style="width:25%">Vækst</span>
        <span class="w3-rest" id="elemMinTankSize" style="width:25%">{GROWTH}</span>
    </span>
</div>
