﻿<div class="slider">
    <div class="slide" ng-repeat="image in images" ng-show="image.visible">
        <img ng-src="{{image.ImageUrl}}" alt="{{ image.Title }}" />
    </div>
    <div class="arrows">
        <a href="#" ng-click="prev()"><img src="/Resources/Images/left-arrow.png" /></a> <a href="#" ng-click="next()"><img src="/Resources/Images/right-arrow.png" /></a>
    </div>
</div>