﻿<ul>
    <li>
        Planteakvarier har behov for mere lys end et akvarie kun med fisk.<br />
        <span>
            Afhængigt af planternes behov kan det være 0,25w/l til over 1 w/l (Lavt behov: 0,25 w/l til 0,5 w/l , Middel behov: 0,5 w/l til 1 w/l, Højt behov: 1+ w/l)
        </span>
    </li>
    <li>Kunstigt lys bør idealt være stærkere i det røde spektrum</li>
    <li>Stærkt rødt lys kan få planterne til at blive høje og tynde, og har en tendens til at fremme blågrøn alger</li>
    <li>Stærkt blåt lys kan få planterne til at blive mere kompakte og buskede, og har en tendens til at fremme general algevækst</li>
    <li>Balancen mellem rødt og blåt lys bør være 2:1</li>
    <li>Grønt lys giver et bedre udtryk for os mennesker</li>
    <li>
        Et eksempel:<br />
        Dagslyskilde (5000K – rødt lys)<br />
        Plus en ”arktisk” hvid (12000K til 20000K) eller ”arktisk” dagslys (10000K) kilde.
    </li>
    <li>Giver et 2:1 forhold mellem rødt og blåt lys, med en smule grønt</li>
    <li>Nogle planter har evnen til at ændre det pigment de bruger til fotosyntese alt efter det tilgængelige lys:</li>
    <li>Rød-bladede planter bliver grønne når lyset er for lavt, eller når der ikke er nok blåt og/eller grønt lys.</li>
    <li>Grøn-bladede planter producerer røde blade når de er tæt på lyskilden, eller ved overdrevet kraftig belysning.</li>
</ul>
<div>
    <p>
        <h4 style="background-color: rgb(255, 0, 0);text-align: center;">Advarsel! Se aldrig direkte på en lysdiode. Lyset er så stærkt, at det kan give øjenskader.</h4>
    </p>
    <ul>
        <li>Målt i PAR/Watt udsender ingen lyskilde mere PAR-stråling end LEDS. PAR (Photosynthetically active radiation) måles i Micro mol og er et udtryk for fotonaktiviteten i området fra 400-700 nanometer.</li>
        <li>Hvis de behandles korrekt holder lysdioder op til 500.000 timer, før de skal skiftes. Det er 10-13 år!</li>
        <li>Dioder giver ”shimming-effekt” dvs. de kaster lys/skygge. Man skal lige vænne til det, men derefter vil man nødig undvære denne virkning. Det betyder f. eks at fiskene kaster skygge på bunden af akvariet. Hvis der kommer bevægelse i overfladen, vil man kunne se lyset spille på planter, dekoration og bund. Det er dog ikke alle der syntes om dette.</li>
        <li>LED ‘er er en fleksibel løsning. Man kan designe lamper til ethvert akvarium uanset størrelse. Man kan også bruge dem til udbygning/lystilskud i en eksisterende lampe.</li>
        <li>LED lamper er billigere i drift end T5 systemer.</li>
    </ul>
</div>
<div>
    <p>Når der handles dioder skal du undgå de såkaldte emittere. Dette er rene dioder, der er på størrelse med en halv ært. De er meget vanskelige at lodde på.</p>
    <p>Køb i stedet den type LED‘er, der er monteret på såkaldte ”stjerner”. Disse er på størrelse med en tikrone, og meget nemmere at lodde og montere.</p>
    <p>Man skal være forsigtig når ledningerne loddes på dioderne. De tåler 260°C i 5 sekunder, og det er ikke meget.</p>
    <p>Hvis dioderne overophedes kan de skifte farve, og levetiden kan nedsættes drastisk.</p>
    <h2>Hvor mange LED ‘er?</h2>
    <p>Når man skal beregne hvor mange dioder der skal bruges, kan man anvende følgende formel til et overslag:</p>
    <p align="center" style="text-align:center">(2/3 ∗ Watt) / 2.4 = antal 3 watt dioder</p>
    <p>Formlen skal forstås således at Watt, er det nuværende forbrug til lyset. Tag 2/3 af dette og del med 2,4.</p>
    <p>Eksempel: Vi vil erstatte 2x24W med dioder. 2/3 af 48W delt med 2,4=13.3. Der skal altså bruges ca. 13 dioder på 3 watt. . at vi går fra 48W til 39W.</p>
    <p>Dette er selvfølgelig vejledende. Er akvariet meget højt, skal der selvfølgelig bruges flere LED ‘er, da man er nødt til at bruge linser med snæver spredning. Hvis ikke man monterer dioderne lidt tæt på hinanden, vil man opleve spotlight-effekt på bunden. Hvis man ikke har planter med høje krav til lys, kan man naturligvis reducere lysmængden.</p>
    <h2>Hvor meget lys er nok lys?</h2>
    <p>Det kommer helt an på hvilke planter du har valgt til dit akvarium.</p>
    <p>Har du udelukkende planter med lave krav, er 0,25 til 0,5 Watt per L tilstrækkeligt.</p>
    <p>Til ”mellem” planter skal du bruge 0,5 til op mod 1 Watt per L, mens planter med meget høje lyskrav kræver mere en 1 Watt per L.</p>
    <h2>Drivere</h2>
    <p>Drivere kan sammenlignes med ballasten + glimtænder i et armatur til lysstofrør.</p>
    <p>Der findes en masse forskellige drivere. Nogle er beregnet til at levere et fast antal ampere, og andre er variable. Antal ampere (A) bestemmer hvor mange watt de enkelte LED ‘er er på. Der er også forske på mængden af volt (V) de enkelte kan håndtere. Antal volt bestemmer hvor mange LED ‘er den enkelte driver kan håndtere. De fleste kan dæmpes med noget der hedder PWM eller med en spænding på 0-10V.</p>
    <p>Normalt vil drivere, der ikke kan reguleres, give enten 350 eller 700mA. Jo højere strømstyrke, des mere lys og varme udvikler dioderne.</p>
    <p>De fleste 3W dioder tåler strømstyrker op til 1000mA og enkelte 1500mA. Dette dog kun kortvarigt.</p>
    <p>Til akvariebrug, hvor lyset er tændt mange timer hver dag, bør man holde sig til max. 750mA.</p>
    <h2>Køling</h2>
    <p>LED ‘er skal som minimum have en køleplade. Dette hjælper med en lang levetid, og forhindre at LED ‘en overopheder. De fleste LED ‘er kan ikke tåle temperaturer over 50°C i længere tid. Hvis temperaturen på kølepladen overstiger 50°C, skal der en større køleplade til, eller også skal man montere en blæser.</p>
</div>
<h2>Sammenligning af kold, dagslys og varm hvid på et 63L akvarie:</h2>
<div>
    <h3>3x 3W Kold hvid</h3>
    <img src="/Handlers/ImageHandler.ashx?imageId=706&width=620&height=300" title="3x 3W Kold hvid" style="width: 100%" />
    <br />
</div>
<div>
    <h3>3x 3W Dagslys hvid</h3>
    <img src="/Handlers/ImageHandler.ashx?imageId=686&width=620&height=300" title="3x 3W Dagslys hvid" style="width: 100%" />
    <br />
</div>
<div>
    <h3>3x 3W Varm hvid</h3>
    <img src="/Handlers/ImageHandler.ashx?imageId=708&width=620&height=300" title="3x 3W Varm hvid" style="width: 100%" />
    <br />
</div>